.archiver-settings textarea {
    resize: none;
}

.archiver-settings .setting-item:only-child {
    padding: 0;
}

.archiver-setting-sub-item {
    padding: 0.75em 0 0.75em 2em;
}

.archiver-placeholders-description {
    vertical-align: top;
}

.archiver-rule-container {
    margin-top: 0.75em;
    padding-right: 10px;
    padding-left: 10px;

    border: 2px solid var(--interactive-accent);
    border-radius: 10px;
}

.archiver-status-examples {
    list-style: none;
}

.archiver-accordion {
    width: 100%;
    border: 2px solid var(--background-modifier-border);
}

.archiver-accordion:last-child {
    margin-bottom: 0;
}

.archiver-panel {
    display: none;
    padding-top: 0.75em;
    transition: max-height 0.2s ease-out;
}

.archiver-active {
    display: block;
}

.archiver-rule-paths {
    width: 300px;
    height: 100px;
}

.archiver-accordion.callout {
    background-color: unset;
}

.archiver-accordion .callout-content {
    margin-top: 1em;
    margin-bottom: 1em;
}

.archiver-accordion .callout-title {
    color: unset;
}

.archiver-setting-group {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    /* padding-top: 0.75em; */
    padding-bottom: 0.75em;

    border-top: 1px solid var(--background-modifier-border);
    border-left: 4px solid var(--color-accent-2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.archiver-setting-group > * {
    padding-left: 1em;
}

.archiver-setting-group > *:first-child {
    padding-top: 0.75em;
}

.archiver-setting-group > .header {
    all: unset;

    display: flex;
    gap: 0.25em;
    align-items: center;

    padding: 0.75em;
}

.archiver-setting-group > .header:hover {
    background-color: var(--background-modifier-hover);
    transition: background-color 0.15s ease-in-out;
}

.archiver-setting-group > .header .callout-fold {
    display: flex;
    align-items: center;
}

.archiver-setting-group:last-child {
    border-bottom: 1px solid var(--background-modifier-border);
}

.archiver-setting-group:has(+ .archiver-setting-group) {
    margin-bottom: 0.75em;
    border-bottom: 1px solid var(--background-modifier-border);
}
